<div id="topbar">
  <div id="title">编辑信息</div>
  <div id="leftbutton">
  	<%= link_to "返回", @teacher, :method => :get %>
  </div>
</div>
 
<div id="content">
	<% if notice %>
	    <div>
	      <ul>
	        <li><%= notice %></li>
	      </ul>
	    </div>
  	<% end %>
  	
  <%= render 'form' %>
</div>

