<div id="topbar">
  <div id="title">新添测试</div>
  <div id="leftnav">
    <%= link_to '返回', course_quizzes_path(@current_course), :method => :get %>
  </div>
</div>
 
<div id="content">
  <% if notice %>
    <div>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>

  <%= render 'form' %>

</div>