<div id="topbar">
  <div id="title">新添选项</div>
  <div id="leftnav">
    <%= link_to '完成', topics_path %>
  </div>
</div>
 
<div id="content">
  <% if notice %>
    <div>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>
  <%= render 'form' %>
</div>