<div id="topbar">
	<div id="title">学院管理</div>
	<div id="leftnav">
		<%= link_to '主页', admins_path %>
	</div>
	<div id="rightnav">
    <%= link_to '新添', new_academy_path %>
  </div>
</div>

<div id="duobutton">
  <div class="links">
    <%= link_to "管理员列表", show_all_admins_admins_path %><%= link_to "学院管理", academies_path, "id" => "pressed" %>
  </div>
</div>
 

<div id="content">
	<span class="graytitle">学院列表：</span>
	<table>
		<% @academies.each do |academy| %>
			<tr>
				<td>
					<%= academy.identifier %>
				</td>
				<td>
					<%= academy.name %>
				</td>
			</tr>
		<% end %>
	</table>
	<br />
	<h1 style="float:right;position:relative;right:20px;text-decoration: underline;"><%= link_to '新添', new_academy_path %></h1>
</div>