<div id="topbar">
  <div id="title">新添管理员</div>
  <div id="leftbutton">
    <%= link_to '返回', show_all_admins_admins_path %>
  </div>
</div>
 
<div id="content">
	<% if notice %>
    	<div>
      		<ul>
        		<li><%= notice %></li>
      		</ul>
    	</div>
  	<% end %>
  	
  <%= render 'form' %>
</div>



