<div id="topbar">
  <div id="title">新添评论</div>
  <div id="leftnav">
    <% if session[:teacher_id] %>
      <%= link_to '返回', group_post_path(@group, @post) %>
    <% elsif session[:student_id] %>
      <%= link_to '返回', student_show_post_path(@group, @post) %>
    <% end %>
  </div>
</div>
 
<div id="content">
  <% if notice %>
    <div>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>
  <%= render 'form' %>
</div>