<div id="topbar">
  <div id="title">错题库</div>
  <div id="leftnav">
    <%= link_to "问题墙", index_student_problems_path %>
    <%= link_to "返回", exercises_path %>
  </div>
</div>

<div id="content">
  <% if @question %>
    <span class="graytitle">错题数目</span>
    <ul class="pageitem">
      <p style="margin:10px 25% 10px 5%;">
        <span class="graytitle">题目总数: <%= @error_answer_num %> 道</span>
      </p>
    </ul>

    <ul class="pageitem">
      <li class="button", style="line-height: 43px;">
        <%= button_to "开始", show_error_path(@question.id), :method => :get %>
      </li>
    </ul>
  <% else %>
    <span class="graytitle">暂时没有错题</span>
  <% end %>

</div>
