<div id="topbar">
  <div id="title">新添课程记录</div>
</div>
 
<div id="content">
  <% if notice %>
    <div>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>
  <%= render 'form' %>
</div>