<div id="topbar">
  <div id="title">课堂练习</div>
  
  <div id="leftnav">
    <%= link_to '返回', exercises_path %>
    <% if @pre_question_id %>
      <%= link_to '上一题', show_question_answer_path(@exercise, @pre_question_id) %>
    <% end %>
  </div>

  <div id="rightnav">
    <% if @next_question_id %>
      <%= link_to '下一题', show_question_answer_path(@exercise, @next_question_id) %>
    <% else %>
      <%= link_to '完成', answers_path(@exercise) %>
    <% end %>
  </div>

</div>
