<div id="topbar">
	<div id="title"><%= @course.name %>--预习材料</div>
	<div id="leftbutton">
		<%= link_to '返回', course_previews_path(@course.id) %>
	</div>
</div>

<div id="content">
  <% if notice %>
    <div>
      <ul>
        <li><%= notice %></li>
      </ul>
    </div>
  <% end %>
  
 <%= render 'form' %> 
</div>
